{:paths ["src" "resources"]
 :deps {com.xtdb/xtdb-core        {:mvn/version "1.23.0"}
        com.xtdb/xtdb-jdbc        {:mvn/version "1.23.0"}
        com.xtdb/xtdb-rocksdb     {:mvn/version "1.23.0"}
        com.xtdb/xtdb-lucene      {:mvn/version "1.23.0"}
        org.postgresql/postgresql {:mvn/version "42.2.18"}}


 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
